{:id "gftdcojp"
 :name "Gftd Japan 株式会社"
 :domain "gftd.co.jp"
 :website "https://gftd.co.jp"
 :operator-email "jun@gftd.group"
 :business-applications
 [{:id "gftd-ads-manager"
   :name "GFTD Ads Manager"
   :url "https://gftd.co.jp/g1nSERUt/gftd-ads-manager"
   :kind :internal-business-app
   :provider :google-ads
   :visibility :organization-only
   :privacy-policy
   {:url "https://gftd.co.jp/g1nSERUt/privacypolicy"
    :owner "Gftd Japan 株式会社"
    :contact-email "hello@gftd.co.jp"}
   :repository nil}]}
